@import url(https://fonts.google.com/share?selection.family=Open%20Sans:wght@400;700%7COxygen:wght@300);



body {
    background-image:url(mountains-190055__340.jpeg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color:black
}

